<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Google Search Console verification -->
    <meta name="google-site-verification" content="{{ site.google_verification }}" />

    <style type="text/css">
        body { background-color: #333333; }
    </style>

    <!-- Google Fonts Noto Sans TC -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.cdn.min.css">
    <!-- <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.min.css"> -->
    <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/vendor.css">
    <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.BASE_PATH}}/assets/images/favicon.png">

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images -->
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">

    {% if site.google_analytics %}
    <!-- Google Optimize code -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'{{ site.google_optimize }}':true});</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

    {% if site.google_adsense %}
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_adsense }}" crossorigin="anonymous"></script>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-default visible-xs visible-sm" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if site.author.facebook %}
            <a type="button" class="navbar-toggle nav-link visible-xs visible-sm" href="https://www.facebook.com/{{ site.author.facebook }}">
                <i class="fa fa-facebook-official"></i>
            </a>
            {% endif %}
            {% if site.author.email %}
            <a type="button" class="navbar-toggle nav-link" href="mailto:{{ site.author.email }}">
                <i class="fa fa-envelope"></i>
            </a>
            {% endif %}
            <a class="navbar-brand" href="{{ site.BASE_PATH }}/">
                <img src="https://www.gravatar.com/avatar/{{site.author.email_md5}}?s=35" class="img-circle" />
                {{ site.title}}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav visible-xs visible-sm">
                <li class="active"><a href="{{ site.BASE_PATH }}/">Home</a></li>
                <li><a href="{{ site.BASE_PATH}}/{{ site.about_path }}">About</a></li>
                <li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}">Categories</a></li>
                <!--<li><a href="{{ site.BASE_PATH}}/{{ site.tags_path }}">Tags</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <!-- nav-menu-dropdown -->
    <div class="btn-group hidden-xs hidden-sm" id="nav-menu">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.BASE_PATH}}/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="{{ site.BASE_PATH}}/{{ site.about_path }}"><i class="fa fa-hand-spock-o"></i>About</a></li>
            <li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}"><i class="fa fa-coffee"></i>Categories</a></li>
            <li><a href="{{ site.BASE_PATH}}/{{ site.list_path }}"><i class="fa fa-list-ul"></i>List</a></li>
            <li><a href="https://github.com/poychang/blog.poychang.net"><i class="fa fa-file-code-o"></i>On GitHub</a></li>
            <!--<li><a href="{{ site.BASE_PATH}}/{{ site.tags_path }}"><i class="fa fa-tags"></i>Tags</a></li>-->
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
        </ul>
    </div>

    <div class="col-sm-4 sidebar hidden-xs hidden-sm not-mobile">
        {% include sidebar.html %}
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        {{ content }}
        <footer class="footer-text">
            <hr/>
            <p>
            Copyright © 2022 - Poy Chang Blog content licensed under the Creative Commons <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
            | <a href="https://blog.poychang.net/privacy/">Privacy Policy</a>
            | Unless otherwise stated or granted, code samples licensed under the <a href="https://sm.mit-license.org/">MIT license</a>
            | Site design based on the <a href="https://github.com/dbtek/dbyll">dbyll theme</a> under the <a href="https://sm.mit-license.org/">MIT license</a>
            </p>
        </footer>
    </div>

    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
</body>

</html>
